@using LibraryApp.Models.Entity;
@model List<Book>

@{
    ViewData["Title"] = "Book List";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Özel stil ayarlamalarını burada yapabilirsiniz */
        .book-image {
            max-height: 100px;
            max-width: 200px;
        }
    </style>
</head>
<body>

<div class="container mt-5">
    <h2>@ViewData["Title"]</h2>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Author</th>
                <th>Is Borrowed</th>
                <th>Image</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model)
            {
                    <tr>
                        <td style="text-align: center;">@book.Name</td>
                        <td style="text-align: center;">@book.Author</td>
                        <td style="text-align: center;">@(book.IsBorrow ? "Yes" : "No")</td>
                        <td style="text-align: center;">
                            <img src="~/BookImages/@book.ImagePath" class="book-image" />
                        </td>
                        <td style="text-align: center;">
                            <a asp-controller="Book" asp-action="BookDetail" asp-route-bookId="@book.Id" class="btn btn-primary">Details</a>
                        </td>
                    </tr>
            }
        </tbody>
    </table>

    <div class="text-center mt-4">
        <a asp-controller="Book" asp-action="AddBook" class="btn btn-success">Add New Book</a>
    </div>
</div>

</body>
</html>
